.home-aboutUs,
.partners {
    background-color: #E4E4E4;
}

.home-aboutUs, 
.partners,
.review-container {
    padding: 30px;
}

@media (min-widht:768px) {
    .home-aboutUs, 
.partners,
.review-container {
    padding: 60px;
}
}