.contact-container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: #E4E4E4;
    border-radius: 20px;
    padding: 50px;
}

.contact-container-paragraph {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-container input,
.contact-container textarea {
    border-radius: 8px;
    width: 300px;
    font-size: 20px;
}

.contact-container input {
    height: 40px;
}

.contact-mail-phone input {
    gap: 20px;
    width: 300px;
}

.mb-3 {
    width: 300px;
}

.contact-container-info {
    margin-top: 20px;
}

.contact-container-info > * {
    margin-top: -15px;
}

.contact-container-socialmedia {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.contact-btn {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    font-size: 20px;
}

@media (min-width:420px) {
    .contact-mail-phone input {
        display: flex;
        gap: 20px !important;
    }

    .email input {
        width: 200px !important;
    }

    .phone input {
        width: 180px !important;
    }

    .contact-mail-phone {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .contact-container input,
    .contact-container textarea {
        width: 400px;
    }
}

@media (min-width:992px) {
    .contact-container {
        grid-template-columns: repeat(2, auto);
        margin-bottom: 150px;
        margin-top: 150px;
    }
        
    .contact-container-paragraph {
        margin-top: 170px;
        margin-right: 50px;
    }

    .email input {
        width: 250px !important;
    }

    .phone input {
        width: 230px !important;
    }

    .contact-container input,
    .contact-container textarea {
        width: 500px;
    }
}
