.contact-container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
    background-color: #E4E4E4;
    border-radius: 20px;
    padding: 50px;
}

.contact-container-paragraph {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mb-3 {
    width: 300px;
}

.contact-container-info {
    margin-top: 20px;
}

.contact-container-info > * {
    margin-top: -15px;
}

.contact-container-socialmedia {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

@media (min-width:420px) {
    .contact-mail-phone {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .mail {
        width: 200px !important;
    }
    
    .phone {
        width: 180px !important;
    }

    .mb-3 {
        width: 400px;
    }
}

@media (min-width:992px) {
    .contact-container {
        grid-template-columns: repeat(2, auto);
    }
        
    .contact-container-paragraph {
        margin-top: 110px;
        margin-right: 50px;
    }
}
