form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    font-size: 25px;
    margin: 0px auto;
}

form p {
    margin-bottom: -3px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.login-container input {
    border-radius: 8px;
    font-size: 20px;
    width: 200px;
}

.login-btn {
    height: 40px;
    border-radius: 10px;
    margin-top: 25px;
    width: 150px;
    margin-left: 20%;
}

.login-container {
    background-color: #E4E4E4;
    margin-top: 200px;
    border-radius: 20px;
    padding: 50px;
    margin-bottom: 20px;
}

@media (min-width:495px) {
    .login-btn {
        width: 250px;
    }

    .login-container input {
        width: 400px;
    }

}

@media (min-width:768px) {
    .login-container input {
        width: 500px;
    }
}